[submodule "TryHackMe/Network/Wreath/Exploitation/CVE-2019-15107"]
	path = TryHackMe/Network/Wreath/Exploitation/CVE-2019-15107
	url = https://github.com/MuirlandOracle/CVE-2019-15107
[submodule "TryHackMe/TomGhost/AJPy"]
	path = TryHackMe/TomGhost/AJPy
	url = https://github.com/hypn0s/AJPy
[submodule "HackTheBox/Valentine/heartbleed-poc"]
	path = HackTheBox/Valentine/heartbleed-poc
	url = https://github.com/sensepost/heartbleed-poc
[submodule "HackTheBox/Windows/HackTheBox/Devel/Juicy-Potato-x86"]
	path = HackTheBox/Windows/HackTheBox/Devel/Juicy-Potato-x86
	url = https://github.com/A1vinSmith/Juicy-Potato-x86
